:root {
  --branding-color: #cce7fa;
  --secondary-branding-color: #536878;
  --name-heading-font-family: "Qwitcher Grypen", cursive;
  --sub-headings-font-family: "Handlee", cursive;
  --primary-font-family: "Poppins", sans-serif;
  --btn-box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.3);
}

body {
  background-color: #e1eefc;
}

h1 {
  font-family: var(--name-heading-font-family);
  line-height: 0.8;
}

h2,
h3,
h4,
h5,
h5 {
  font-family: var(--sub-headings-font-family);
  font-weight: bold;
}

p {
  font-family: var(--primary-font-family);
  font-weight: 300;
  line-height: 1.7;
}

.home-icon {
  max-height: 150px;
  font-size: 50px;
  color: var(--secondary-branding-color);
}

nav {
  padding: 15px 0px;
  font-family: var(--primary-font-family);
}

nav ul {
  padding: 0;
  margin-bottom: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 50px;
  margin-left: 10px;
}

nav li.active a {
  font-family: var(--name-heading-font-family);
  font-size: 40px;
  font-weight: bolder;
}

nav a {
  text-decoration: none;
  color: var(--secondary-branding-color);
  transition: all 125ms ease-in-out;
}

nav a:hover,
nav li.active a {
  font-weight: 600;
  color: #285a84;
}

.hero {
  background-color: var(--branding-color);
  text-align: center;
  padding: 120px 20px;
}

.hero h1 {
  font-weight: 700;
  font-size: 120px;
  padding-top: 0px;
}

.hero h2 {
  font-family: var(--primary-font-family);
  font-weight: 300;
  font-size: 24px;
  color: var(--secondary-branding-color);
  line-height: 1.5;
}

.hero p {
  font-weight: 300;
  font-size: 32px;
  color: var(--secondary-branding-color);
  padding-top: 25px;
}

.featured-heading {
  font-family: var(--name-heading-font-family);
  color: var(--secondary-branding-color);
  font-size: 60px;
  text-align: center;
  margin: 25px 0px 50px 0px;
}

.btn-branding {
  background-color: var(--secondary-branding-color);
  color: whitesmoke;
  text-decoration: none;
  font-family: var(--primary-font-family);
  font-size: 20px;
  font-weight: 200;
  border-radius: 5px;
  padding: 20px 30px;
  box-shadow: var(--btn-box-shadow);
  transition: all 200ms ease-in-out;
}

.btn-branding:hover {
  background-color: whitesmoke;
  color: var(--secondary-branding-color);
  text-decoration: none;
  font-family: var(--primary-font-family);
  font-size: 20px;
  font-weight: 400;
  border-radius: 5px;
  padding: 20px 30px;
  box-shadow: var(--btn-box-shadow);
}

.btn-launch {
  background-color: var(--branding-color);
  color: var(--secondary-branding-color);
  text-decoration: none;
  font-family: var(--primary-font-family);
  font-size: 16px;
  font-weight: 300;
  border-radius: 5px;
  padding: 10px 15px;
  box-shadow: var(--btn-box-shadow);
  transition: all 200ms ease-in-out;
}

.btn-launch:hover {
  text-decoration: underline;
  border: 1px solid var(--secondary-branding-color);
  color: whitesmoke;
  background-color: var(--secondary-branding-color);
}

.portfolio-body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.portfolio-heading {
  font-family: var(--primary-font-family);
  font-size: 20px;
  margin: 20px 0 0;
}

.portfolio-content {
  font-family: var(--primary-font-family);
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 20px;
}

.portfolio-work {
  transition: all 150ms ease-in-out;
}

.portfolio-work:hover {
  transform: scale(1.1);
}

.portfolio-image {
  margin: 20px 10px;
}

.portfolio-link {
  text-decoration: none;
  color: var(--secondary-branding-color);
}

.portfolio-link:hover {
  color: #285a84;
  text-decoration: #285a84 wavy;
  text-decoration-line: underline;
}

.project-decsriptions {
  padding: 10px 60px;
}

.img-centre {
  border-radius: 15px;
  width: 200px;
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.3);
}

.image-index {
  max-width: 500px;
}

.about {
  padding: 10px 60px;
}

.inquiry {
  max-width: 1000px;
  font-family: var(--primary-font-family);
  font-weight: 300;
  font-size: 16px;
  color: var(--secondary-branding-color);
  line-height: 1.5;
  border: 1px solid #536878;
  border-radius: 15px;
}

.inquiry-details {
  padding: 20px;
}

.info-icon {
  font-size: 50px;
  font-weight: bold;
  color: var(--secondary-branding-color);
}

.svg-icons {
  width: 50px;
  height: 50px;
  color: var(--secondary-branding-color);
}

.contact-text {
  text-align: center;
  margin: 0px 25px;
}

.contact-container {
  max-width: 1000px;
}

@media (max-width: 768px) {
  .project-decsriptions {
    padding: 0;
    text-align: center;
  }
  .hero {
    background-color: var(--branding-color);
    text-align: center;
    padding: 60px 10px;
  }
  .hero h1 {
    font-size: 60px;
  }
  .hero h2 {
    font-size: 18px;
  }
  .hero p {
    font-size: 18px;
  }
  .featured-heading {
    font-size: 40px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 18px;
  }
  p {
    font-size: 16px;
    line-height: 1.5;
  }
  .about {
    text-align: center;
    padding: 0;
  }
  .inquiry {
    text-align: center;
    padding: 0;
    font-size: 16px;
    line-height: 1.5;
  }

  .btn-branding {
    font-size: 16px;
    border-radius: 5px;
    padding: 10px 15px;
  }

  .home-icon {
    font-size: 30px;
    color: var(--secondary-branding-color);
  }

  nav a,
  nav li {
    font-size: 14px;
    margin: 5px;
    line-height: 30px;
  }
}
